@import "../node_modules/bootswatch/dist/lux/variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootswatch/dist/lux/bootswatch";

.aspect-ratio-1-1 {
  position: relative;
  width: 100%; 
  padding-top: 100%; 
  overflow: hidden;
}

.aspect-ratio-1-1 > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}

.avatar {
  object-fit: contain; 
  object-position: center; 
  border-radius: 50%;
}

.masthead {
    padding-top: 13rem;
    padding-bottom: 13rem;
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/masthead.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
}

.masthead {
  h1, h2 {
    color: white;
    text-align: center;
    text-decoration-color: rgb(255, 255, 255);
  }
}

#map {
  height: 400px;
  width: 100%;
}