<%- include("./partials/header.ejs"), {activePage: activePage} %>

<div class="container-fluid text-center py-5">
    <h2>About Me</h2>
    <p>你好，我是山姆，飢餓山姆。</p>
    <p>我的最愛是海南雞飯</p>
</div>

<%- include("./partials/footer.ejs") %>