<%- include("./partials/header.ejs", {activePage: activePage}) %>

<div class="masthead">
    <div class="container">
        <h1>HUNGRY SAM</h1>
        <h2>SEARCHING FOR EVERY DELICIOUS DISH IN THE WORLD</h2>
    </div>
</div>


<%- include("./partials/footer.ejs") %>