<%- include("./partials/header.ejs", {activePage: activePage}) %>

<div class="masthead">
    <div class="container">
        <h1>THE PERFECT GIFT</h1>
        <h2>USE VOUCHERS AT OUR RESTAURANTS AND COOKING CLASSES</h2>
    </div>
</div>

<%- include("./partials/footer.ejs") %>