<%- include("./partials/header.ejs"), {activePage: activePage} %>

<div class="container-fluid text-center py-5">
    <h2><%= title %></h2>
    <p><%= content %></p>
</div>

<%- include("./partials/footer.ejs") %>
