<%- include("./partials/header.ejs", {activePage: activePage}) %>

<div>
    <div class="container-fluid">
        <div class="d-flex justify-content-center">
            <div class="text-center" >
                <h2><%= title %></h2>
                <p><%= content %></p>
            </div>
        </div>
    </div>
</div>

<%- include("./partials/footer.ejs") %>
