        <footer class="px-5">
            <small
                >©
                <script>
                    document.write(new Date().getFullYear());
                </script>
                Releaf Studio. All Rights Reserved.</small
            >
        </footer>
        <% if(locals.scripts) { %>
        <% scripts.forEach((script) => {%>
            <script src="<%= script %>"></script>
        <%})}%>
        <script
            src="./js/bootstrap.min.js"
            crossorigin="anonymous"
        ></script>
    </body>
</html>