<!doctype html>
<html lang="zh">
    <head>
        <meta charset="UTF-8" />
        <title>飢餓山姆</title>
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="description" content="" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <link rel="stylesheet" href="/css/index.css" />
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
                <div class="container-fluid px-5">
                    <a class="navbar-brand" href="/">Hungry Sam</a>
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div
                        class="collapse navbar-collapse"
                        id="navbarNavDropdown"
                    >
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a
                                    class="nav-link <% if (activePage === 'index') { %>active"
                                    aria-current="page<% } %>"
                                    href="/"
                                    >Home</a
                                >
                            </li>
                            <li class="nav-item">
                                <a
                                    class="nav-link <% if (activePage === 'about') { %>active"
                                    aria-current="page<% } %>"
                                    href="/about"
                                    >About Me</a
                                >
                            </li>
                            <li class="nav-item">
                                <a
                                    class="nav-link <% if (activePage === 'posts') { %>active"
                                    aria-current="page<% } %>"
                                    href="/posts"
                                    >Posts</a
                                >
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
</html>
