        <footer class="px-5">
            <small
                >©
                <script>
                    document.write(new Date().getFullYear());
                </script>
                Releaf Studio. All Rights Reserved.</small
            >
        </footer>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"
        ></script>
    </body>
</html>