<%- include("./partials/header.ejs") %>

<div class="row px-5 align-items-center d-flex">
    <div class="col-xl-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic
        enim fugiat, molestiae repellat nostrum, quia quas doloribus
        inventore ab debitis beatae rerum libero tempore! Esse maiores
        repellat eos iure non.
    </div>
    <div class="col-xl-7">
        <div class="d-flex justify-content-center">
            <img src="https://picsum.photos/400/600" alt="Sam" />
        </div>
    </div>
</div>

<%- include("./partials/footer.ejs") %>